{% extends "pages/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <center><h1>Alert Center</h1></center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           <div class="panel panel-default">
                <div class="panel-heading">
                    Add Alert Filter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form action="/regex" method="POST">
                        <div class="form-group">
                            <label for="regex">Regex</label>
                            <input type="text" class="form-control" name="regex" placeholder="Regex">
                        </div> 
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-8">
           <div class="panel panel-default">
                <div class="panel-heading">
                    Alerts
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class = "table table-striped">
                        <tr>
                            <th> Match </th>
                            <th> File </th>
                            <th> Download </th>
                            <th> Dismiss </th>
                        </tr>
                        {% for alert in alerts %}
                          <tr> 
                            <td> {{ alert[2] }} </td>
                            <td> {{ alert[1] }} </td>
                            <td> <a href="/conversations/{{ alert[1] }}">File</a> </td>
                            <td> <a href="/alerts/dismiss/{{ alert[0] }}"><button type="button" class="btn btn-info">X</button></a></td>
                          </tr>
                        {% endfor %}
                        <tr> <td></td><td> <a href="/alerts/clear">Display all alerts</a></td><td></td><td></td></tr>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        
    </div>
{% endblock %}
