{% extends "pages/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <h1>{{ service[1] }} - Port {{ service[2] }}</h1>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> Total Conversations: {{ conversations.length }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Conversation Table
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class = "table table-striped">
                        <tr>
                            <th> Time </th>
                            <th> SPORT </th>
                            <th> DPORT </th>
                        </tr>
                        {% for convo in conversations %}
                          <tr> 
                            <td> {{ convo[1] }} </td> 
                            <td> {{ convo[3] }} </td> 
                            <td> {{ convo[4] }} </td> 
                          </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        Morris.Bar({{ graphData|safe }});
    </script>
{% endblock %}
