{% extends "pages/base.html" %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <h1>{{ service[0] }} - Port {{ service[1] }}</h1>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> Total Conversations: {{ convoNum }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

    <script>
        Morris.Bar({{ graphData|safe }});
    </script>
{% endblock %}
